<div class="timer__time-left">
      <span class="timer__time-left timer__time-left--hour-lbl">hour:</span>
      <span class="timer__time-left timer__time-left--hour-value">{{hourLeftValue}}</span>
      <span class="timer__time-left timer__time-left--min-lbl">min:</span>
      <span class="timer__time-left timer__time-left--min-value">{{minLeftValue}}</span>
      <span class="timer__time-left timer__time-left--sec-lbl">sec:</span>
      <span class="timer__time-left timer__time-left--sec-value">{{secLeftValue}}</span>

</div>
<div class="timer__control">
      <button class="timer__btn timer__btn--start" type="button">{{btnStartLabel}}</button>
      <button class="timer__btn timer__btn--stop" type="button" disabled>{{btnStopLabel}}</button>
</div>